OPENAI_API_KEY=
OPENSCHOLAR_API_URL=
REPLY_LLM_PROVIDER=openai
REPLY_LLM_MODEL=gpt-5

HYP_LLM_PROVIDER=openai
HYP_LLM_MODEL=gpt-5

PLANNING_LLM_PROVIDER=openai
PLANNING_LLM_MODEL=gpt-5

STRUCTURED_LLM_PROVIDER=openai
STRUCTURED_LLM_MODEL=gpt-5